
.options {
    margin: 1rem;
}

.options .actions {
    display: flex;

    justify-content: flex-end;
    margin: 1rem;
}

.options .exclusions {
    margin-top: 1rem;
}

.options .exclusions .remove {
    flex-grow: 2;
    margin-right: 15px;
}

.options .actions button {
    margin-left: 0.3rem;
}

#no-padding {
    padding: 0px;
    margin: 0px;
}

.popup-options {
    width: 100%;
    border-top: 1px solid gray;
    margin-top: .5rem;
    padding: 0.3rem;

    display: flex;
    justify-content: flex-end;
}
